body {
	font-family: 'Raleway', sans-serif;
	box-sizing: border-box;
}

.milim-header {
	background: #095fa4;
	height: 126px;
	display:flex;
	align-items:center;
}

.social {
	display:flex;
	justify-content:space-around;
	align-content:flex-end;
	flex-flow:row wrap;
}

.social a {
		margin-left: 18px;
	}

.head-block {
	background: #095fa4;
	z-index: 1;
	padding-bottom: 117px;
}

.milim-title {
	color:white;
	font-size: 100px;
	font-family:'Raleway Medium', sans-serif;
	margin:0;
	padding-top:100px;
	position:relative;
	z-index: 10;
}

.milim-out {
	position: absolute;
	left: 0;
	top: 0;
	font-size: 200px;
	z-index: 1;
	color: #0c61a5;
}

.milim-undertitle {
	color:white;
	font-size: 30px;
	font-family:'Raleway Thin', sans-serif;
	margin-bottom: 38px;
	position: relative;
	z-index: 10;
}

.milim-undertitle span {
	color: #fff;
	font-family:'Raleway Medium', sans-serif;
}

.milim-buttonblock {
	margin-top:40px;
}

.milim-picture {
	width: 759px;
	position: relative;
	z-index: 100;
	margin: 0 auto;
}

.milim-picture img {
	display: block;
	max-width: 257px;
	width: 100%;
	margin: 10px auto 0;
}

.milim-button {
	width: 165px;
	height: 40px;
	border: none;
	border-radius: 5px;
	background: #fff;
	box-shadow: 2px 2px 0 #0c436d;
	color: #0a518a;
	font-family: 'Raleway Regular', sans-serif;
	font-size: 17px;
}

.milim-button:hover {
	cursor: pointer;
}

.milim-description {
	background: #00223d;
	border-top:4px dashed #ffffff;
	display: flex;
	align-items: center;
	z-index: 10;
}

.description-icon {
	display: flex;
	justify-content: center;
	margin-top:-65px;
	margin-bottom:34px;
}

.description-title {
	color:#ffffff;
	font-size: 22px;
	text-transform:uppercase;
	font-family: 'Raleway Medium', sans-serif;
	text-align:center;
	margin-bottom:17px;
}

.description-text {
	color:#bbbbbb;
	font-size: 16px;
	font-family: 'Raleway ExtraLight', sans-serif;
	text-align:center;
}

.milim-functions {
	background: #ececec;
}

.functions-title {
	text-align:center;
	font-family: 'Raleway Medium', sans-serif;
}

.functions-header {
	font-size: 30px;
	color:#2d2d2d;
	margin-top:40px;
	text-align:center;
	text-transform:uppercase;
}

.functions-text {
	font-size: 16px;
	font-family: 'Raleway Light', sans-serif;
}

.function-block {
	display:flex;
	justify-content:space-between;
	margin-top:57px;
	padding-bottom:73px;
}

.function-left {
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
	justify-content:space-between;
	align-items:flex-end;
	text-align:right;
}

.function-picture {
	padding:0;
}

.function-right {
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
	justify-content:space-between;
	align-items:flex-start;
	text-align:left;
}

.function-blockhead {
	font-size: 22px;
	font-family: 'Raleway Regular', sans-serif;
}

.milim-abonements {
	background: #ffca63;
}

.abonements-container {
	margin-top: 75px;
	padding-bottom: 46px;
}

.abonements-icon {
	position: absolute;
	top: -55px;
	left: auto;
}

.abonements-block {
	max-width: 380px;
	width: 100%;
	height: 316px;
	position: relative;
}

.table-free {
	background: #fff;
	border-radius:10px;
	height: 318px;
	max-width: 380px;
	width: 100%;
	font-family: 'Raleway Regular', sans-serif;
	font-size: 18px;
	text-align:center;
}

.table-free span {
	font-weight:bold;
}

.table-free-head {
	background: #b4ca57;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	font-family: 'Raleway SemiBold', sans-serif;
	font-size: 25px;
	color:#fff;
	text-transform:uppercase;
}

.table-student {
	background: #fff;
	border-radius:10px;
	height: 318px;
	max-width: 380px;
	width: 100%;
	font-family: 'Raleway Regular', sans-serif;
	font-size: 18px;
	text-align:center;
}

.table-student span {
	font-weight:bold;
}

.table-student-head {
	background: #202020;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	font-family: 'Raleway SemiBold', sans-serif;
	font-size: 25px;
	color:#fff;
	text-transform:uppercase;
	text-align:center;
}

.table-pro {
	background: #fff;
	border-radius:10px;
	height: 318px;
	max-width: 380px;
	width: 100%;
	font-family: 'Raleway Regular', sans-serif;
	font-size: 18px;
	text-align:center;
}

.table-pro span {
	font-weight:bold;
}

.table-pro-head {
	background: #f5aa18;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	font-family: 'Raleway SemiBold', sans-serif;
	font-size: 25px;
	color:#fff;
	text-transform:uppercase;
	text-align:center;
}

.milim-reviews {
	display: flex;
	justify-content: center;
	padding-top: 75px;
	background: #ececec;
	width: 100%;
	max-width: 1100px;
}

.milim-reviews .container {
	padding: 0;
}

.reviews {
	position: relative;
	display: block;
}

.reviews-header {
	display: block;
	margin: 0 auto;
	box-sizing: border-box;
	text-align: center;
	max-width: 684px;
}

.reviews-header-text {
	margin-bottom: 50px;
	font-size: 30px;
	font-family: 'Raleway Medium', sans-serif;
	text-transform: uppercase;
}

.reviews-header-text span {
	font-weight: bold;
}

.reviews-container {
	position: relative;
	display: inline-block;
	max-width: 1100px;
	width: 100%;
}

.reviews-item {
	display: inline-block;
	vertical-align: top;
	padding: 0 10px;
	font-family: 'Raleway Light', sans-serif;
	text-align: center;
	width: 33%;
}

.reviews-picture {
	display: block;
	margin: 0 auto;
	width: 110px;
	height: 106px;
}

.reviews-item h3 {
	margin: 20px 0 0;
}

.reviews-img {
	display: inline-block;
	height: 100px;
	width: 100px;
	border-radius: 50%;
}

.reviews-stars img {
	margin: 0 auto;
}

.reviews-img-boy {
	display: inline;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	position: absolute;
	top: -60px;
	left: 130px;
}

.reviews-item h3 {
	font-size: 20px;
	font-weight: bold;
	margin-bottom:4px;
	margin-top:35px;
}

.reviews-item span {
	font-size: 14px;
	text-transform: uppercase;
}

.reviews-item p {
	font-size: 16px;
	margin-top:25px;
}

.reviews-slider {
	display: block;
	max-width: 1100px;
	overflow: hidden;
	margin: 0 auto;
}

.reviews-slider-buttons {
	text-align: center;
}

.reviews-slider-buttons button {
	font-size: 38px;
	border: none;
	background: transparent;
	outline: none;
}

.reviews-slider-buttons button[class*='prev'] {
	padding: 0;
	position: absolute;
	top: 50%;
	left: -40px;
	transform: translateY(-50%);
}

.reviews-slider-buttons button[class*='next'] {
	padding: 0;
	position: absolute;
	top: 50%;
	right: -40px;
	transform: translateY(-50%);
}

.reviews-slider-buttons button:hover {
	cursor: pointer;
}

.milim-partners	{
	background: #dddddd;
	height: 156px;
}

.partners {
	height: 156px;
	display: flex;
	align-items: center;
}

.partners-icon img {
	margin: 0 auto;
}

.footer {
	height: 134px;
	background: #202020;
}

.footer-block {
	height: 134px;
	display:flex;
	align-items:center;
	justify-content:space-between;
}

.contacts {
	color: #cccaca;
	font-family: 'Raleway Thin';
	font-size: 10px;
}

.footer-icons {
	display: flex;
	justify-content: space-between;
	align-content: flex-end;
	flex-flow: row wrap;
}

.footer-icons a {
	color:#494949;
	font-size: 17px;
	text-decoration:none;
}

.copyright {
	display: flex;
	justify-content: center;
}

.slider-item {
	text-align: center;
}

.slider-itemnext {
	display: none;
}

.left-pointer {
	position: absolute;
	top: 100px;
	left: -30px;
	font-size: 68px;
	cursor: pointer;
}

.right-pointer {
	position: absolute;
	top: 100px;
	right: -30px;
	font-size: 68px;
	cursor: pointer;
}

 .wrapper {
 	width: 1140px;
 	margin: 0 auto;
 	background: green;
 }

@media screen and (min-width: 1201px) {
	.milim-reviews .container {
		padding: 0;
	}
	.reviews-slider-buttons button[class*='prev'] {
	position: absolute;
	top: 50%;
	left: 10px;
	transform: translateY(-50%);
}
.reviews-slider-buttons button[class*='next'] {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
}
}

@media screen and (max-width: 1200px) {
		.footer-icons {
		display: flex;
		justify-content: space-around;
		align-content: flex-end;
		flex-flow: row wrap;
	}
	.abonements-block, .table-free, .table-student, .table-pro {
		width: 300px;
		height: 316px;
		position: relative;
		z-index: 1;
	}
	.abonements-icon {
		position: absolute;
		top: -55px;
		left: auto;
		z-index: 10;
	}
	.table-student-head {
		padding-left: 60px;
	}
	.reviews-slider-buttons button[class*='prev'] {
		position: absolute;
		top: 50%;
		left: -20px;
		transform: translateY(-50%);
	}

.reviews-slider-buttons button[class*='next'] {
		position: absolute;
		top: 50%;
		right: -20px;
		transform: translateY(-50%);
	}
}

@media (min-width: 992px) and (max-width: 1060px) {
	.reviews-slider-buttons button[class*='prev'] {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}

.reviews-slider-buttons button[class*='next'] {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}
}

@media screen and (max-width: 991px) {
	.head-block {
		padding-bottom: 50px;
	}
	.function-block {
		margin-top: 30px;
		padding-bottom: 30px;
	}
	.function-left, .function-right {
		text-align: center;
	}
	.function-picture {
		-ms-grid-row-align: center;
		        align-self: center;
	}
	.abonements-container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.abonements-block, .abonements-block2 {
		display: flex;
		justify-content: center;
	}
	.abonements-block2 {
		max-width: 380px;
		width: 100%;
		margin:85px 0;
	}
	.table-free-head, .table-student-head, .table-pro-head {
		height: 113px;
		vertical-align: bottom;
		padding-left: 0;
		font-size: 23px;
	}
	.table-free-head:first-child, .table-student-head:first-child, .table-pro-head:first-child {
		padding-bottom: 15px;
	}
	.milim-buttonblock {
		text-align: center;
		margin-bottom: 65px;
	}
	.milim-button {
		width: 414px;
		height: 46px;
		margin-bottom: 12px;
	}
	.milim-butt {
		text-align: center;
	}
	.milim-picture img {
		display: block;
		max-width: 227px;
		width: 100%;
		margin: 10px auto 0;
	}
}

@media (min-width: 768px) and (max-width: 820px) {
	.reviews-slider-buttons button[class*='prev'] {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}

.reviews-slider-buttons button[class*='next'] {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}
}

@media screen and (max-width: 768px) {
	.function-left, .function-right {
		text-align: center;
	}
	.function-picture {
		display: none;
	}
	.logo-foot {
	text-align: center;
	}	
	.partner-icon {
		text-align: center;
	}
	.partner-5, .partner-6 {
		display: none;
	}
	.description-icon {
		margin-top: 45px;
	}
	.head-block {
		padding-bottom: 0;
	}
	.milim-description {
		padding-bottom: 25px;
	}
	.function-block {
		margin-top:32px;
		padding-bottom:32px;
	}
	.milim-caption {
		display: none;
	}
	.milim-title {
		text-align: center;
		padding-top: 0;
	}
	.milim-undertitle {
		text-align: center;
	}
	.milim-out {
		font-size: 130px;
	}
	.milim-picture img {
		display: block;
		max-width: 207px;
		width: 100%;
		margin: 10px auto 0;		
	}
	.abonements-container {
		margin-top: 85px;
	}
	.abonements-block2 {
		margin:90px 0;
	}
	.milim-reviews {
		padding-top: 35px;
	}
	.reviews-header-text {
		margin-bottom: 30px;
	}
	.reviews-item h3 {
		margin-top: 15px;
	}
}

@media screen and (max-width: 640px) {
.reviews-slider-buttons button[class*='prev'] {
	position: absolute;
	top: 50%;
	left: -10px;
	transform: translateY(-50%);
}

.reviews-slider-buttons button[class*='next'] {
	position: absolute;
	top: 50%;
	right: -10px;
	transform: translateY(-50%);
}
}

@media screen and (max-width: 577px) {
	.head-block {
		padding-bottom: 25px;
	}
	.footer-icons {
		display: block;
		text-align: center;
	}
	.footer-icons a {
		margin:0 9px;
	}
	.partners-icon {
		text-align: center;
	}
	.partner-4 {
		display: none;
	}
	.logo-main {
		display: flex;
		justify-content: center;
	}
	.milim-buttonblock {
		display: flex;
		justify-content: center;
	}
	.milim-butt {
		display: flex;
		justify-content: center;
	}
	.milim-button {
		max-width: 314px;
		width: 100%;
		height: 34px;
		margin-bottom: 6px;
	}
	.milim-title {
		text-align: center;
		font-size: 70px;
		line-height: 70px;
		padding-top: 0;
		position:relative;
		z-index: 10;
	}
	.milim-out {
		position: absolute;
		left: 0;
		top: 0;
		font-size: 100px;
		z-index: 1;
		color: #0c61a5;
	}
	.milim-undertitle {
		text-align: center;
		color: white;
		font-size: 20px;
		font-family:'Raleway Thin', sans-serif;
		margin-top: 8px;
		margin-bottom: 20px;
	}
	.milim-picture img {
		display: block;
		max-width: 157px;
		width: 100%;
		margin: 10px auto 0;
	}
	.social {
		text-align: center;
		padding: 17px 0;
	}
	.social a {
		margin-right: 18px;
	}
	.milim-buttonblock {
		margin-bottom: 0;
	}
	.milim-description {
		padding-bottom: 15px;
	}
	.description-icon {
		margin-top: 30px;
		margin-bottom: 26px;
	}
	.description-icon img {
		display: block;
		width: 100px;
		height: 100px;
	}
	.description-title {
		font-size: 21px;
		margin-bottom: 8px;
	}
	.reviews-header-text {
		font-size: 26px;
	}
	.reviews-slider-buttons button[class*='prev'] {
		position: absolute;
		top: 10%;
		left: 30px;
		transform: translateY(-10%);
	}

.reviews-slider-buttons button[class*='next'] {
		position: absolute;
		top: 10%;
		right: 30px;
		transform: translateY(-10%);
	}
}
